* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f4f4;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

.showcase {
  background-color: #35424A;
  color: #fff;
  min-height: 100px;
  border-bottom: 3px solid #A9508B;
}

.showcase .container {
  max-width: 85%;
  padding: 20px 50px;
  margin: 0 auto;
  overflow: auto;
}

.showcase .container nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showcase .container nav h1 {
  font-size: 2rem;
  white-space: nowrap;
}

.showcase .container nav span {
  color: #A9508B;
}

.showcase .container nav ul {
  display: flex;
  list-style-type: none;
}

.showcase .container nav ul li {
  padding: 0px 15px;
  text-transform: uppercase;
}

.showcase .container nav ul li a {
  color: #fff;
}

.showcase .container nav ul li a:hover {
  color: #ababac;
  font-weight: bolder;
}

.showcase .container nav ul li #home {
  color: #A9508B;
  font-weight: bolder;
}

.showcase .container nav ul li #home:hover {
  color: #ababac;
}

@media (max-width: 800px) {
  .showcase .container {
    padding: 10px 10px;
  }
  .showcase .container nav {
    flex-direction: column;
    align-items: center;
  }
}

.banner {
  background-image: url("../images/showcase.jpg");
  width: 100%;
  min-height: 43vh;
  color: #fff;
}

.banner .banner-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.banner .banner-title h1 {
  font-size: 3.5rem;
  padding-bottom: 20px;
  text-align: center;
}

.banner .banner-title p {
  font-size: 1.3rem;
  padding: 0px 30px;
  text-align: center;
}

@media (max-width: 800px) {
  .banner {
    min-height: 35vh;
  }
  .banner .banner-title {
    padding-top: 20px;
    justify-content: center;
  }
}

.subscribe {
  background-color: #35424A;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-direction: row;
  min-height: 100px;
  white-space: nowrap;
}

.subscribe form {
  display: flex;
  flex-direction: row;
}

.subscribe form input {
  height: 4vh;
  min-width: 230px;
}

.subscribe form button {
  color: #fff;
  background-color: #A9508B;
  border-style: none;
  margin-left: 5px;
  min-width: 6vw;
  padding: 5px;
}

@media (max-width: 800px) {
  .subscribe {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 20px;
  }
}

.lesson-boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.lesson-boxes .html, .lesson-boxes .css, .lesson-boxes .design {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lesson-boxes .html img, .lesson-boxes .css img, .lesson-boxes .design img {
  width: 90px;
}

.lesson-boxes .html p, .lesson-boxes .css p, .lesson-boxes .design p {
  margin-top: 20px;
}

@media (max-width: 800px) {
  .lesson-boxes {
    width: 100%;
  }
}

footer {
  height: 140px;
  background-color: #FFFAF0;
  border-top: 3px solid #A9508B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 200px;
}
