html, body {
    font: 16px Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    
    header {
        .container {
            background-color: #35424A;
            color: white;
            border-bottom: 2px solid purple;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            span {
                color: purple;
            }
            nav ul {
                display: flex;
                justify-content: space-between;
                
                li {
                    margin: 0px 10px;
                }
            }
        }
        

        // h1 {
        //     float: left;
        //     span {
        //         color: purple;
        //     }
        // }
        // nav {
        //     float: right;
        // }
    }
    .banner {
        clear: both;
    }
    
}



