$primaryBackground-color: #35424A;
$secondaryBackground-color: #f4f4f4;

$primaryText-color: #fff;
$secondaryText-color: #A9508B;

$footerBackground-color: #FFFAF0;
$hoverLink-color: #ababac;

$primaryFontAndSize : 15px/1.5 Arial, Helvetica, sans-serif;