footer {
    height: 140px;
    background-color: $footerBackground-color;
    border-top: 3px solid $secondaryText-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 200px;
    }
}