.showcase {
    background-color: $primaryBackground-color;
    color: $primaryText-color;
    min-height: 100px;
    border-bottom: 3px solid $secondaryText-color;
    .container {
        max-width: 85%;
        padding: 20px 50px;
        margin: 0 auto;
        overflow: auto;
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            h1 {
                font-size: 2rem;
                white-space: nowrap;
            }
            span {
                color: $secondaryText-color;
            }
            ul {
                display: flex;
                list-style-type: none;
                li {
                    padding: 0px 15px;
                    text-transform: uppercase;
                    a {
                        color: $primaryText-color;
                        &:hover {
                            color: $hoverLink-color;
                            font-weight: bolder;
                        }
                    }
                    #home {
                        color: $secondaryText-color;
                        font-weight: bolder;
                        &:hover {
                            color: $hoverLink-color;
                        }
                    }
                }
            }
        }
    }    
}

@media (max-width:800px) {
    .showcase {
        .container{
            padding: 10px 10px;
            nav{
                flex-direction: column;
                align-items: center;
            }
        }
    }
}